@import "tailwindcss";
@theme {
  --animate-Load: Load 3s ease-in-out 1;
  @keyframes Load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
body{
    @apply animate-Load bg-black text-white
}